<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'design1_CS361.css' %}" />
    <meta charset="UTF-8">
    <title>students</title>
<style>

</style>
</head>
<body>
<h1>students</h1>
    <table border="1" style="width:100%">

    <thead>

        <th>Name</th>
        <th>SurName</th>
        <th>Email</th>

    </thead>

    <tbody>

        <tr>
        <ul>{% for Std in Studentlist %}</ul>
        <td>{{ Std.Student_Name }}</td>
        <td>{{ Std.Student_LastName}}</td>
        <td>{{ Std.Student_Email }}</td>

    </tr>
    {% endfor %}
    </tbody>

</table>
</body>
</html>